
:root {
  --primary-color: #03c78c;
  --lightgray-color: #d3d3d3;
  --red-color: rgb(255, 77, 79);
  --black-color: #333;
}

* {
  font-family: var(--font-montserrat);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: var(--font-montserrat);
  font-optical-sizing: auto;
  font-size: 1rem;
  line-height: 1.5;
  height: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--primary-color);
  transition: 5ms all ease-in-out;
}

.scroll-smooth {
  scroll-behavior: smooth;
}

.main_layout {
  position: relative;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
}

.spin_content {
  height: 30vw;
  padding: 50px;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

// sm
@media (min-width: 640px) {
}

// md
@media (min-width: 768px) {
}

// lg
@media (min-width: 1024px) {
}

// xl
@media (min-width: 1280px) {
}
