@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary-color: #03c78c;
  --lightgray-color: #d3d3d3;
  --red-color: rgb(255, 77, 79);
  --black-color: #333;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-size: 1rem;
  line-height: 1.5;
  height: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--primary-color);
  transition: 5ms all ease-in-out;
}

.scroll-smooth {
  scroll-behavior: smooth;
}

.main_layout {
  position: relative;
  // display: flex;
  // flex-direction: column;
  // height: auto;
  //min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
}

.spin_content {
  height: 30vw;
  padding: 50px;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

// sm
@media (min-width: 640px) {
}

// md
@media (min-width: 768px) {
}

// lg
@media (min-width: 1024px) {
}

// xl
@media (min-width: 1280px) {
}
