.all_product {
  padding-top: 1rem;
  padding-bottom: 6rem;
  background: #f1f1f1;
}
.all_product_inside {
  margin-top: 2rem;
}

.border_b {
  border-bottom: 1px solid lightgray;
  padding-bottom: 4px;
  padding-top: 6px;
}

.filter_ly {
  border-radius: 8px;
  background: #fff;

  h3 {
    font-size: 16px;
    padding-left: 6px;
  }
}

.btn-filter__mobile {
  display: none;
}

.filter_ly_top {
  display: inline-flex;
  align-items: center;
  margin-left: 10px;
  padding-top: 10px;
}

.filter_list_category {
  padding: 10px;
}

.filter_list_brand {
  padding: 10px;

  h4 {
    padding-bottom: 10px;
  }
}

.brand_search {
  padding-bottom: 10px;
}

.brand_search_list {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 455px;
}

.show_more {
  display: inline-flex;
  align-items: center;
  padding: 10px 0;

  img {
    transform: rotate(180deg);
  }

  span {
    cursor: pointer;
  }
}

.brand_search_button {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  padding: 8px 10px;
}

.brand_button_reset,
.brand_button_submit {
  padding: 0 40px;
  width: 45%;
}

.product_right_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #fff;
  border-radius: 8px;
  padding: 10px;
  background: #fff;
}

.product_right_bottom {
  padding-top: 1.1rem;
}

.product_right_bottom_pagination {
  margin-top: 2rem;
  float: right;
}

.product_right_cs {
  display: inline-flex;
  align-items: center;

  p {
    padding-right: 10px;
  }
}

.card_all_product {
  width: 100%;
  height: 100%;
  min-height: 320px;
  max-height: 320px;
}

.image_all_product {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  min-height: 185px;

  img {
    width: 100%;
    height: auto;
    min-height: 160px;
    max-height: 180px;
    object-fit: cover;
  }
}

.description_all_product {
  padding-top: 10px;
}

.content_info_discount {
  text-decoration: line-through;
}

.name_all_product {
  padding-bottom: 10px;

  a {
    color: var(--primary-color);
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  a:hover {
    color: var(--primary-color);
  }

  h2 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
  }
}

.price_all_product {
  padding-bottom: 5px;

  p {
    font-size: 16px;
    font-weight: 700;
    line-height: inherit;
  }
}

// sm
@media only screen and (max-width: 640px) {
}

// md
@media only screen and (max-width: 740px) {
  .filter_ly {
    visibility: hidden;
    height: 0;
  }
  .is__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: block;
    animation: fadeIn linear 0.2s;
    z-index: 9;
  }
  .filter__mobile {
    border-radius: 8px;
    max-height: 100%;
    opacity: 1;
    position: fixed;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    background-color: #fff;
    transition: all linear 0.4s;
    z-index: 14;
    overflow-y: auto;
  }
  .btn-filter__mobile {
    display: block;
    margin-bottom: 1rem;
    margin-left: 4px;
  }
  .btn-filter__mobile .btn__filter {
    border: 1px solid #ffff;
    border-radius: 4px;
    padding: 10px 20px;
    background: #ffff;
    font-size: 16px;
    font-weight: 700;
  }
  .product_right_ly .product_right_cs {
    display: block;
    text-align: center;
  }
}

// lg
@media (min-width: 740px) and (max-width: 1023px) {
}

// xl
@media (min-width: 1024px) and (max-width: 1239px) {
}
